*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(93, 93, 93);
    color: rgb(255, 255, 255);
}

.cabecalho {
    background-color:black ;
    height: 5rem;
}
.cabecalho-barra {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 0.5rem;
    height: 100%;
}

.cabecalho-titulo{
    font-size: 2.5rem;
    font-weight: bold;
    align-self: center;
    color: red;
}

.cabecalho-menu {
    align-self: center;

}

.cabecalho-link {
    text-decoration: none;
    padding-left: 0.8rem;
    color: rgb(255, 0, 0);
}

.cabecalho-link:hover {
    color:lightyellow;
    font-size: 1.5rem;
}

.principal-conteudo{
    width: 80%;
    margin: 0 auto; /*Centraliza */
    padding: 0.5rem;
    min-height: calc(100vh - 5rem);
    background-color: rgb(111, 111, 111);
}

.principal-titulo {
    font-size: 1.5rem; /*Tamanho da fonte*/
    font-weight: bold; /* Negrito */
    color: rgb(255, 255, 255); /* Cor */
    padding-bottom: 0.75rem; /* espaçamento inferior*/
}

.principal-texto {
    padding-bottom: 0.75rem;
}

.principal-linha {
    border: 1px dotted red
}

.principal-subtitulo {
    font-size: 1.25rem; /*Tamanho da fonte*/
    font-weight: bold; /* Negrito */
    color: rgb(255, 191, 0); /* Cor */
    padding-bottom: 0.5rem; /* espaçamento inferior*/
    padding-bottom: 0.5rem;
}

.principal-marcadores {
    list-style-type: circle;
}

.principal-numeracao {
    list-style:upper-roman;
}

.rodape {
    height: 5rem;
    background-color: black;
}

.rodape-conteudo {
    width: 80%;
    margin: 0 auto; /* centralizar */
    display: flex;
    justify-content: space-between;
    height: 100%; /*100% da tela*/
}

.rodape-info {
    align-self: center;
}

.rodape-redes {
    align-self: center;
}

.rodape-icone {
    width: 2.5rem;
    height: 2.5rem;
}

.rodape-icone:hover {
    background-color: rgb(255, 0, 0);
    border-radius: 100%;
}